---
import BaseLayout from './BaseLayout.astro';
import BlogList from '../components/BlogList.astro';

export interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;

// import '../styles/global.css';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='flex flex-row w-full'>
    <div
      id='list'
      class='sticky shrink-0 flex-none top-0 bottom-0 hidden md:flex flex-col w-80 h-screen overscroll-contain overflow-y-auto'
    >
      <div
        id='list-title'
        class='w-full sticky top-0 px-8 pt-12 pb-5 font-semibold text-xl text-neutral-50 backdrop-blur'
      >
        Journal
      </div>
      <div id='list-items' class='h-screen flex flex-col px-4 mb-4'>
        <BlogList />
      </div>
    </div>
    <!-- <main class='flex shrink flex-col flex-1 w-full max-w-2xl px-5 pt-12 pb-12 mx-auto md:px-8 lg:pt-32 prose'> -->
    <main class='md:p-4 w-full min-h-screen'>
      <div class='bg-neutral-900 md:rounded-lg h-full'>
        <div class='flex shrink flex-col flex-1 px-5 pt-12 pb-12 mx-auto lg:px-8 lg:pt-32 prose'>
          <!-- <div class='max-w-2xl w-full mx-auto'> -->
          <slot />
        </div>
        <!-- </div> -->
      </div>
    </main>
  </div>
</BaseLayout>

<style is:global>
  #list {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  #list::-webkit-scrollbar {
    width: 6px;
  }

  #list::-webkit-scrollbar-track {
    background: transparent;
  }

  #list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 0px solid transparent;
  }
</style>
