---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
// const { frontmatter } = Astro.props;

// import '../styles/global.css';
---

<BaseLayout pageTitle={pageTitle}>
  <main class='flex flex-col flex-1 px-5 pt-12 pb-12 mx-auto lg:px-8 lg:pt-32 prose'>
    <div class='max-w-2xl w-full mx-auto'>
      <slot />
    </div>
  </main>
</BaseLayout>
